In [3]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matlab as mat
import random

ModuleNotFoundError: No module named 'matlab'

In [4]:
from matlab import random
from random import randint

ModuleNotFoundError: No module named 'matlab'

In [5]:
olimpic_df1 = pd.read_csv('dictionary.csv')
olimpic_df1

             Country Code  Population  GDP per Capita
0        Afghanistan  AFG  32526562.0      594.323081
1            Albania  ALB   2889167.0     3945.217582
2            Algeria  ALG  39666519.0     4206.031232
3    American Samoa*  ASA     55538.0             NaN
4            Andorra  AND     70473.0             NaN
..               ...  ...         ...             ...
196          Vietnam  VIE  91703800.0     2111.138024
197  Virgin Islands*  ISV    103574.0             NaN
198            Yemen  YEM  26832215.0     1406.291651
199           Zambia  ZAM  16211767.0     1304.879014
200         Zimbabwe  ZIM  15602751.0      924.143819

[201 rows x 4 columns]

In [6]:
olimpic_df2 = pd.read_csv('summer.csv')
olimpic_df2

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [7]:
olimpic_df3 = pd.read_csv('winter.csv')
olimpic_df3

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, AndrÃ©",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

Fem una mostra simple

In [8]:
simple_olimpic_df2 = olimpic_df2.sample(n = 500)
simple_olimpic_df2

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
4266,1924,Paris,Athletics,Athletics,"WEBBER, George J.",GBR,Men,3000M Team,Silver
24757,2000,Sydney,Rowing,Rowing,"ABBAGNALE, Agostino",ITA,Men,Quadruple Sculls Without Coxswain (4X),Gold
24514,2000,Sydney,Hockey,Hockey,"HWANG, Jong-Hyun",KOR,Men,Hockey,Silver
10402,1960,Rome,Gymnastics,Artistic G.,"VATASOIU-LITA, Emilia",ROU,Women,Team Competition,Bronze
18806,1988,Seoul,Football,Football,"SCHREIER, Christian",FRG,Men,Football,Bronze
...,...,...,...,...,...,...,...,...,...
7020,1936,Berlin,Rowing,Rowing,"EICHHORN, Willi",GER,Men,Coxless Pair (2-),Gold
15881,1980,Moscow,Football,Football,"MACELA, Ludek",TCH,Men,Football,Gold
7389,1948,London,Athletics,Athletics,"WINTER, John",AUS,Men,High Jump,Gold
1615,1908,London,Rowing,Rowing,"THOMSON, Julius A.",CAN,Men,Eight With Coxswain (8+),Bronze
6595,1936,Berlin,Canoe / Kayak,Canoe / Kayak F,"KOSCHIK, Erich",GER,Men,C-1 1000M (Canoe Single),Bronze

Ara fem mostra sistÃ¨mica generant primer un numero aleatori on comenÃ§ar la mostra
y desprÃ©s un salt per anar aganfant items de la mostra

In [9]:
random_number = np.random.randint(1, 100)
random_number

25

In [10]:
random_step = np.random.randint(1, 100)
random_step

27

In [11]:
systematic_olimpic_df2 = olimpic_df2[random_number : len(olimpic_df2) : random_step]
systematic_olimpic_df2

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
25,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver
52,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100KM,Silver
79,1896,Athens,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,Rings,Gold
106,1896,Athens,Gymnastics,Artistic G.,"RÃ–STEL, Richard",GER,Men,"Team, Parallel Bars",Gold
133,1896,Athens,Tennis,Tennis,"ROBERTSON, George Stuart",ZZX,Men,Doubles,Bronze
...,...,...,...,...,...,...,...,...,...
31048,2012,London,Weightlifting,Weightlifting,"SALIMIKORDASIABI, Behdad",IRI,Men,+105KG,Gold
31075,2012,London,Weightlifting,Weightlifting,"LIN, Qingfeng",CHN,Men,69KG,Gold
31102,2012,London,Wrestling,Wrestling Freestyle,"KHINCHEGASHVILI, Vladimer",GEO,Men,Wf 55 KG,Silver
31129,2012,London,Wrestling,Wrestling Freestyle,"SHARIFOV, Sharif",AZE,Men,Wf 84 KG,Gold
31156,2012,London,Wrestling,Wrestling Freestyle,"KAZAKEVIC, Aleksandr",LTU,Men,Wg 74 KG,Bronze

In [12]:
olimpic_df2['Country'].value_counts()

USA    4585
URS    2049
GBR    1720
FRA    1396
GER    1305
       ...
BER       1
TOG       1
ERI       1
SUD       1
BOT       1
Name: Country, Length: 147, dtype: int64